<main>
  <div class="all-destinations">
    <h1>All Destinations</h1>
    <hr>
    <div class="card-wrapper">

      <article class="destination-card">
        <h1>Neveroqtno</h1>
        <img src="https://assets.imgix.net/docs/road-sm.jpg" alt="">
        <div class="left-side">
          <h2 class="city"><span>City:</span> Sofia</h2>
          <h2 class="country"><span>Country:</span> Bulgaria</h2>
        </div>

        <div class="right-side">
          <h2 class="rating">Rating:</h2>
          <h2 class="stars">&#9733; &#9733; &#9734; &#9734; &#9734; </h2>
        </div>

        <button>Show More</button>
      </article>

      <article class="destination-card">
        <h1>Neveroqtno</h1>
        <img src="https://assets.imgix.net/docs/road-sm.jpg" alt="">
        <div class="left-side">
          <h2 class="city"><span>City:</span> Sofia</h2>
          <h2 class="country"><span>Country:</span> Bulgaria</h2>
        </div>

        <div class="right-side">
          <h2 class="rating">Rating:</h2>
          <h2 class="stars">&#9733; &#9733; &#9734; &#9734; &#9734; </h2>
        </div>

        <button>Show More</button>
      </article>

      <article class="destination-card">
        <h1>Neveroqtno</h1>
        <img src="https://assets.imgix.net/docs/road-sm.jpg" alt="">
        <div class="left-side">
          <h2 class="city"><span>City:</span> Sofia</h2>
          <h2 class="country"><span>Country:</span> Bulgaria</h2>
        </div>

        <div class="right-side">
          <h2 class="rating">Rating:</h2>
          <h2 class="stars">&#9733; &#9733; &#9734; &#9734; &#9734; </h2>
        </div>

        <button>Show More</button>
      </article>

      <article class="destination-card">
        <h1>Neveroqtno</h1>
        <img src="https://assets.imgix.net/docs/road-sm.jpg" alt="">
        <div class="left-side">
          <h2 class="city"><span>City:</span> Sofia</h2>
          <h2 class="country"><span>Country:</span> Bulgaria</h2>
        </div>

        <div class="right-side">
          <h2 class="rating">Rating:</h2>
          <h2 class="stars">&#9733; &#9733; &#9734; &#9734; &#9734; </h2>
        </div>

        <button>Show More</button>
      </article>

      <article class="destination-card">
        <h1>Neveroqtno</h1>
        <img src="https://assets.imgix.net/docs/road-sm.jpg" alt="">
        <div class="left-side">
          <h2 class="city"><span>City:</span> Sofia</h2>
          <h2 class="country"><span>Country:</span> Bulgaria</h2>
        </div>

        <div class="right-side">
          <h2 class="rating">Rating:</h2>
          <h2 class="stars">&#9733; &#9733; &#9734; &#9734; &#9734; </h2>
        </div>

        <button>Show More</button>
      </article>


    </div>
  </div>

</main>
