
<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="userName"
             required
             [(ngModel)]="model.userName"
             name="userName"
             #userName="ngModel">
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
        Username is required!
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
             required
             [(ngModel)]="model.password"
             name="password"
             #password="ngModel">
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required!
      </div>
    </div>

    <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
  <div *ngIf="loginFail" class="alert alert-danger">
    Failed Login!
  </div>
</div>
