<div class="map-container">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->

  <agm-map mapTypeId='terrain' [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
           [zoomControl]="false"
           (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let d of destinationModel; let i = index" (markerClick)="clickedMarker(d.label, i)"
                [latitude]="d.latitude"
                [longitude]="d.longitude" [label]="d.label">
    </agm-marker>

  </agm-map>
</div>
