<div class="container">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->

  <agm-map mapTypeId='terrain' [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let d of destinationModel" [latitude]="d.latitude" [longitude]="d.longitude">
      <agm-info-window>
        <button routerLink="/destination/{{d._id}}">Details</button>
      </agm-info-window>
    </agm-marker>

  </agm-map>
</div>