$light-green: #0ebc82;

.card{
  margin: 1rem;
  padding: 1rem;
  border: 0.5em cyan double;
  width: 33rem;
  height: 60rem;
}

agm-map {
  height: 300px;
}

ul {
  list-style: none;
}

h5{
  border-style: none none double none;
  border-color: cyan;
}

h4{
  font-family: Monotype Corsiva;
  text-align: center;
  border-style: none none double none;
  border-color: cyan;
}

img.resize {
  max-width: 27rem;
  height: auto;
}

.title{
  text-align: center;
  font-family: "Monotype Corsiva";
  font-size: 28px;
  text-shadow: 0 0 2px cyan;
  border-style: none none double none;
  border-color: cyan;
}


  p.map{
  color: black;
  display: block;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 3px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;}


.map-btn {
  clear: both;
  //padding:10px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid $light-green;
  background: $light-green;
  width: 120px;
  line-height: 24px;
  margin: 0px auto 0px auto;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.30s ease;
  &:hover {
    background: white;
    color: $light-green;
  }
}