<div class="auth-form">
  <div class="wrapper-form">

    <h1>Register</h1>
    <hr>


    <form (ngSubmit)="register()" #registerForm="ngForm">

      <div class="form-wrapper">
        <div class="left-col">
          <label for="userName">Username</label>
          <input type="text" id="userName"
                 required
                 [(ngModel)]="model.userName"
                 name="userName"
                 #userName="ngModel">
          <div [hidden]="userName.valid || userName.pristine" class="alert">
            Username is required!
          </div>

          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName"
                 required
                 [(ngModel)]="model.firstName"
                 name="firstName"
                 #firstName="ngModel">
          <!--<div [hidden]="firstName.valid || firstName.pristine" class="alert">-->
          <!--FirstName is required!-->
          <!--</div>-->

          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName"
                 required
                 [(ngModel)]="model.lastName"
                 name="lastName"
                 #lastName="ngModel">
          <!--<div [hidden]="lastName.valid || lastName.pristine" class="alert">-->
          <!--FirstName is required!-->
          <!--</div>-->
        </div>

        <div class="right-col">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password"
                 required
                 [(ngModel)]="model.password"
                 name="password"
                 #password="ngModel">
          <div [hidden]="password.valid || password.pristine" class="alert">
            Password is required!
          </div>

          <label for="repeat">Confirm Password</label>
          <input type="password" class="form-control" id="repeat"
                 required
                 [(ngModel)]="model.password"
                 name="repeat">
          <div [hidden]="password.valid || password.pristine" class="alert">
            Passwords does not match!
          </div>


          <label for="email">Email</label>
          <input type="email" class="form-control" id="email"
                 required
                 [(ngModel)]="model.email"
                 name="email"
                 #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert">
            Email is required!
          </div>
        </div>
      </div>

      <button [disabled]="!registerForm.form.valid" type="submit" class="btn btn-success">Submit</button><br>


    </form>
    <div *ngIf="registerFail" class="alert">
      Failed Login!
    </div>

  </div>
</div>
