<main>
  <section class="profile-id">
    <h1>My Profile</h1>
    <hr>
    <div class="wrapper">
      <div class="left-col">
        <label>Username</label>
        <input name="username" type="text" value="Rizzle" disabled>
        <label>E-mail</label>
        <input name="email" type="text" value="rizzle@abv.bg" disabled>
        <label>First Name</label>
        <input name="firstName" type="text" value="Cvetomir">
        <label>Last Name</label>
        <input name="lastName" type="text" value="Shkondachki">
      </div>
      <div class="right-col">
        <label>Avatar</label>
        <input name="avatar" type="text">
        <img src="https://www.velvetjobs.com/assets/noavatar-profile.jpg" alt="avatar">
      </div>
    </div>

    <button>Save</button>

  </section>
</main>
