<main>
  <section class="profile-id">
    <h1>My Profile</h1>
    <hr>
    <div class="wrapper">
      <div class="left-col">
        <label>Username</label>
        <input name="username" type="text" value="Mnogo" disabled>
        <label>E-mail</label>
        <input name="email" type="text" value="Gotini@abv.bg" disabled>
        <label>First Name</label>
        <input name="firstName" type="text" value="Proverqvashti">
        <label>Last Name</label>
        <input name="lastName" type="text" value="Pishete ni pone 3, molim!">
      </div>
      <div class="right-col">
        <label>Avatar</label>
        <input name="avatar" value="Please" type="text">
        <img src="https://www.velvetjobs.com/assets/noavatar-profile.jpg" alt="avatar">
      </div>
    </div>

    <button>Save</button>

  </section>
</main>
